@{
    ViewData["Title"] = "Quiz";
    Layout = "_Layout";
}

<div class="panel-body">
    <h2>@ViewBag.TestResult</h2>
    <form class="p-4" asp-controller="HomeController" asp-action="Quiz" asp-antiforgery="true" method="post">
        <div asp-validation-summary="All"></div>
        <div class="form-group">
            <input hidden="hidden" name="quizAnswer" value="@ViewBag.AnimalName"/>
            <label>@ViewBag.RandomAnimalDesc</label>
            <input class="form-control" name="playerAnswer" />
        </div>
        <div class="text-md-left">
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    </form>
</div>

