@model String
@{
    ViewData["Title"] = "Respond";
    Layout = "_Layout";
}

<div class="panel-body">
    <h3>You are writing a reply to the post: @ViewBag.PostTitle</h3>
    <form class="p-4" asp-controller="HomeController" asp-action="Respond" asp-antiforgery="true" method="post">
        <div asp-validation-summary="All"></div>
        <div class="form-group">
            <label>Response:</label>
            <input class="form-control" name="response" />
        </div>
        <div class="text-md-left">
            <button class="btn btn-primary" type="submit">Post</button>
        </div>
    </form>
</div>

